      <div class="bg-white shadow-lg rounded-md mb-4">
          <img class="size-12 rounded-full mx-auto" src="../../assets/Professional_Profile_Pic_50.jpg" alt="Anthony Kubeka">
          <div class="p-2">
              <h3 class="text-center text-xl text-gray-900 font-medium leading-8">Anthony Kubeka</h3>
              <div class="text-center text-gray-400 text-xs font-semibold">
                  <p class="mb-1">Software Engineer &bull; South Africa</p>
              </div>
              <div class="flex flex-row flex-grow justify-center overflow-x-auto">
                @for (technology of technologies; track technology) {
                  <app-skills-card [technology]="technology"></app-skills-card>
                }
              </div>

              <div class="text-center">
                  <button class="text-xs text-indigo-500 italic hover:underline hover:text-indigo-600 font-medium" href="#">Download CV</button>
              </div>

          </div>
      </div>
