<div class="max-w-max grid grid-cols-1">
  <div class="bg-white p-4 rounded-lg shadow-md">
    <div class="flex space-x-4">
      <div>
        <h3 class="text-lg font-semibold mb-1">{{cvCard?.heading}}</h3>
        <p class="text-gray-600">{{cvCard?.place}}</p>
      </div>
      <div class="text-right text-gray-600">
        <p>{{cvCard?.startDate| date:'MMM y'}} -
          <span *ngIf="cvCard?.endDate">{{cvCard?.endDate| date: 'MMM y'}}</span>
          <span *ngIf="!cvCard?.endDate">Present</span>
          </p>
      </div>
    </div>
    <ul class="list-disc ml-4">
      <li>Developed and maintained web applications using modern technologies.</li>
    </ul>
  </div>
</div>
