
  <div class="mx-auto">
    <div class="lg:p-10 max-auto">
      <div class="text-center mx-auto">
        <p class="mt-8 text-5xl font-medium tracking-tighter text-black">
         Hi there, I'm Anthony
        </p>
        <p class="mx-auto mt-4 text-lg text-gray-600 mb-4">
          Software Engineer
        </p>
      </div>
      <app-tech-stack-list class="text-center"></app-tech-stack-list>
      <img class="size-fit h-40 my-4 rounded-md mx-auto" src="../../assets/ProfessionalProfilePicture2024.png" alt="Anthony Kubeka">
      <div class="flex flex-row justify-center">
        <a [routerLink]="['/projects']" class="hover:bg-blue-600 bg-white shadow-lg max-w-min rounded-md mx-4 flex items-center">
          <span class="font-extrabold uppercase p-4">My Projects</span>
          <ion-icon name="briefcase-outline" size="large" class="p-4"></ion-icon>
        </a>

        <a [routerLink]="['/cv']" class="hover:bg-blue-600 bg-white shadow-lg max-w-min rounded-md mx-4 flex items-center">
          <span class="font-extrabold uppercase p-4">My CV</span>
          <ion-icon name="document-text-outline" size="large" class="p-4"></ion-icon>
        </a>

      </div>

    </div>
  </div>
