
<section>
  <div class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div class="w-full lg:p-10 max-auto">
      <div class="justify-center text-center w-full mx-auto">
        <p class="mt-8 text-5xl font-medium tracking-tighter text-black">
         Hi there, I'm Anthony
        </p>
        <p class="max-w-xl mx-auto mt-4 text-lg tracking-tight text-gray-600">
          Software Engineer
        </p>
      </div>
      <app-tech-stack-list class="text-start"></app-tech-stack-list>
    </div>
  </div>
</section>
