  <div class="container bg-white shadow rounded-md">
          <h3 class="text-center text-xl text-gray-900 font-medium leading-8">About Me</h3>
          <div class="text-center text-gray-400 text-xs font-semibold">
              <p>I am passionate about solving problems with tech</p>
          </div>
          <ul class="w-full">
            <li class="border-b">email: anthonykubeka&#64;gmail.com</li>
            <li class="border-b">tel: (+27)0764484237</li>
            <li class="border-b">location: Randburg, Gauteng</li>
            <li>years of experience: 3+</li>
          </ul>
  </div>
<!--Hi there, I'm anthony, Software Engineer. I write code that makes an impact. I've worked on projects for the following companies and use the following technologies. Have a look around!-->
