<div class="container mx-auto p-8">
  <div class="flex flex-col md:grid md:grid-cols-2 gap-2">
    <div>
      <app-profile-card></app-profile-card>
      <app-about-card></app-about-card>
      <app-cv-section-card class="hidden md:block" [heading]="'Certifications'" [description]="'Microsoft AZ-900 (Azure Fundamentals)'"></app-cv-section-card>
    </div>

    <div>
      <app-cv-section-card [heading]="'Experience'" [cvCards]="experienceCvCards"></app-cv-section-card>
      <app-cv-section-card [heading]="'Education'" [cvCards]="educationCvCards"></app-cv-section-card>
    </div>

    <app-cv-section-card class="order-last md:hidden md:col-span-1" [heading]="'Certifications'" [description]="'Microsoft AZ-900 (Azure Fundamentals)'"></app-cv-section-card>
  </div>
</div>

