
<div class="w-full mx-auto border-b 2xl:max-w-7xl dark:text-white">
  <div x-data="{ open: false }" class="relative flex flex-col w-full p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="flex flex-row items-center justify-between lg:justify-start">
      <a class="lg:text-lg tracking-tight uppercase hover:text-gray-500" href="/">
          Anthony Kubeka
      </a>
      <button class="items-center text-gray-500 hover:text-black focus:outline-none focus:text-black md:hidden" (click)="toggleSidebar()">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
    </div>
      <ul class="hidden md:inline-flex space-y-2 list-none md:space-y-0 md:items-center">
        <li>
          <a [routerLink]="['/projects']" routerLinkActive="text-gray-500" class="px-2 py-8 text-sm hover:text-gray-500">
            Projects
          </a>
        </li>
        <li>
          <a [routerLink]="['/cv']" routerLinkActive="text-gray-500" class="px-2 py-8 text-sm hover:text-gray-500">
            CV
          </a>
        </li>
        <li class="flex px-2 items-center justify-center">
          <ng-container *ngIf="!isDarkModeOn">
            <ng-icon (click)="toggleDarkMode()" class="hover:text-gray-400" name="ionBulbOutline"></ng-icon>
          </ng-container>
          <ng-container *ngIf="isDarkModeOn">
            <ng-icon (click)="toggleDarkMode()" class="hover:text-gray-400" name="ionBulbSharp"></ng-icon>
          </ng-container>
        </li>
      </ul>
  </div>
</div>
