
<div class="w-full mx-auto bg-white border-b 2xl:max-w-7xl">
  <div x-data="{ open: false }" class="relative flex flex-col w-full p-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="flex flex-row items-center justify-between lg:justify-start">
      <a class="text-lg tracking-tight text-black uppercase focus:outline-none focus:ring lg:text-2xl" href="/">
        <span class="lg:text-lg uppecase focus:ring-0">
          Anthony Kubeka
        </span>
      </a>
      <button class="items-center text-gray-500 hover:text-black focus:outline-none focus:text-black md:hidden" (click)="toggleSidebar()">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
    </div>
      <ul class="hidden md:inline-flex space-y-2 list-none md:space-y-0 md:items-center">
        <li>
          <a [routerLink]="['/projects']" routerLinkActive="text-blue-600" class="px-2 py-8 text-sm text-gray-500 hover:text-cyan-200">
            Projects
          </a>
        </li>
        <li>
          <a [routerLink]="['/cv']" routerLinkActive="text-blue-600" class="px-2 py-8 text-sm text-gray-500 hover:text-cyan-200">
            CV
          </a>
        </li>
      </ul>
  </div>
</div>
